<section class="process">
  <div class="container process-section">
    <h2 class="process__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="process__list">
      <li class="process__item">
        <picture>
          <source
            srcset="
              ./images/scanning/scan-1-mobile.png    1x,
              ./images/scanning/scan-1-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/scanning/scan-1-tablet.png    1x,
              ./images/scanning/scan-1-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/scanning/scan-1.png    1x,
              ./images/scanning/scan-1@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="process__img"
            src="./images/scanning/scan-1.png"
            alt="scan-1"
          />
        </picture>
        //
        <p class="process__subtitle">Підготовка деталі до сканування</p>
      </li>
      <li class="process__item">
        <picture>
          <source
            srcset="
              ./images/scanning/scan-2-mobile.png    1x,
              ./images/scanning/scan-2-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/scanning/scan-2-tablet.png    1x,
              ./images/scanning/scan-2-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/scanning/scan-2.png    1x,
              ./images/scanning/scan-2@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="process__img"
            src="./images/scanning/scan-2.png"
            alt="scan-2"
          />
        </picture>

        <p class="process__subtitle">Створення сканів і їх обробка</p>
      </li>
      <li class="process__item">
        <picture>
          <source
            srcset="
              ./images/scanning/scan-3-mobile.png    1x,
              ./images/scanning/scan-3-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/scanning/scan-3-tablet.png    1x,
              ./images/scanning/scan-3-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/scanning/scan-3.png    1x,
              ./images/scanning/scan-3@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="process__img"
            src="./images/scanning/scan-3.png"
            alt="scan-3"
          />
        </picture>

        <p class="process__subtitle">Перетворення reverse engineering</p>
      </li>
      <li class="process__item">
        <picture>
          <source
            srcset="
              ./images/scanning/scan-4-mobile.png    1x,
              ./images/scanning/scan-4-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/scanning/scan-4-tablet.png    1x,
              ./images/scanning/scan-4-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/scanning/scan-4.png    1x,
              ./images/scanning/scan-4@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="process__img"
            src="./images/scanning/scan-4.png"
            alt="scan-4"
          />
        </picture>

        <p class="process__subtitle">Підготовка моделі до друку</p>
      </li>
    </ul>
    <a href="./take-order.html"
      ><button class="process__button" type="button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </button></a
    >
  </div>
</section>
