<section class="process">
  <div class="container process-section">
    <h2 class="process__title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="process__list">
      <li class="process__item">
        <img class="process__img" src="./images/Scan-1.png" alt="" />
        <p class="process__subtitle">Підготовка деталі до сканування</p>
      </li>
      <li class="process__item">
        <img class="process__img" src="./images/Scan-2.png" alt="" />
        <p class="process__subtitle">Створення сканів і їх обробка</p>
      </li>
      <li class="process__item">
        <img class="process__img" src="./images/Scan-3.png" alt="" />
        <p class="process__subtitle">Перетворення reverse engineering</p>
      </li>
      <li class="process__item">
        <img class="process__img" src="./images/Scan-4.png" alt="" />
        <p class="process__subtitle">Підготовка моделі до друку</p>
      </li>
    </ul>
    <a href="./take-order.html"
      ><button class="process__button" type="button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </button></a
    >
  </div>
</section>
