@font-face {
  font-family: 'Caviar-Dreams';
  src: url('../fonts/Caviar-Dreams-400.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Caviar-Dreams-700';
  src: url('../fonts/Caviar-Dreams-Bold-700.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cera-Pro';
  src: url('../fonts/CeraPro-Thin.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cera-Pro-400';
  src: url('../fonts/CeraPro-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Cera-Pro-700';
  src: url('../fonts/CeraPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
