<section class="order">
  <div class="container order-section">
    <h2 class="order__title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <ul class="order__list">
      <li class="order__item">
        <img class="order__img" src="./images/order-1.jpg" alt="" />
      </li>
      <li class="order__item">
        <p class="order__subtitle order__subtitle--margin">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми
          зв'яжемося з вами.
        </p>
        <p class="order__subtitle">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і
          дадуть відповідь на всі ваші запитання.
        </p>
      </li>
      <li class="order__item">
        <ul class="model">
          <li class="model__item">
            <img class="model__img" src="./images/order-2.png" alt="" />
          </li>
          <li class="model__item">
            <img class="model__img" src="./images/order-3.png" alt="" />
          </li>
          <li class="model__item">
            <img class="model__img" src="./images/order-4.png" alt="" />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
