<section class="galery">
  <div class="container galery-section">
    <h2 class="galery__title">ГАЛЕРЕЯ</h2>
    <ul class="galery__list">
      <li class="galery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/galery-1-mobile.jpg    1x,
              ./images/main-page/galery-1-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/galery-1-tablet.jpg    1x,
              ./images/main-page/galery-1-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/galery-1.jpg    1x,
              ./images/main-page/galery-1@2x.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="galery__img"
            src="./images/main-page/galery-1.jpg"
            alt="ship"
          />
        </picture>

        <p class="galery__subtitle">
          Інженерні методи аналізу та контролю якості
        </p>
      </li>
      <li class="galery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/galery-2-mobile.jpg    1x,
              ./images/main-page/galery-2-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/galery-2-tablet.jpg    1x,
              ./images/main-page/galery-2-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/galery-2.jpg    1x,
              ./images/main-page/galery-2@2x.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="galery__img"
            src="./images/main-page/galery-2.jpg"
            alt="car"
          />
        </picture>

        <p class="galery__subtitle">Високоточне 3D сканування</p>
      </li>
      <li class="galery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/galery-3-mobile.jpg    1x,
              ./images/main-page/galery-3-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/galery-3-tablet.jpg    1x,
              ./images/main-page/galery-3-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/galery-3.jpg    1x,
              ./images/main-page/galery-3@2x.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="galery__img"
            src="./images/main-page/galery-3.jpg"
            alt="detail"
          />
        </picture>

        <p class="galery__subtitle">
          Створення точної копії на базі сканування reverse engineering
        </p>
      </li>
      <li class="galery__item">
        <picture>
          <source
            srcset="
              ./images/main-page/galery-4-mobile.jpg    1x,
              ./images/main-page/galery-4-mobile@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/galery-4-tablet.jpg    1x,
              ./images/main-page/galery-4-tablet@2x.jpg 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/galery-4.jpg    1x,
              ./images/main-page/galery-4@2x.jpg 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="galery__img"
            src="./images/main-page/galery-4.jpg"
            alt="picture"
          />
        </picture>

        <p class="galery__subtitle">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </p>
      </li>
    </ul>
  </div>
</section>
