<section class="hero">
  <div class="container hero-section">
    <h1 class="hero__title">
      Інженерна, конструкторська та дизайнерська робота
    </h1>
    <ul class="hero__list">
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./images/main-page/hero-1-mobile.png    1x,
              ./images/main-page/hero-1-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/hero-1-tablet.png    1x,
              ./images/main-page/hero-1-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/hero-1.png    1x,
              ./images/main-page/hero-1@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="hero__img"
            src="./images/main-page/hero-1.png"
            alt="robot"
          />
        </picture>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./images/main-page/hero-2-mobile.png    1x,
              ./images/main-page/hero-2-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/hero-2-tablet.png    1x,
              ./images/main-page/hero-2-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/hero-2.png    1x,
              ./images/main-page/hero-2@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="hero__img"
            src="./images/main-page/hero-2.png"
            alt="lamp"
          />
        </picture>
      </li>
      <li class="hero__item">
        <picture>
          <source
            srcset="
              ./images/main-page/hero-3-mobile.png    1x,
              ./images/main-page/hero-3-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/main-page/hero-3-tablet.png    1x,
              ./images/main-page/hero-3-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/main-page/hero-3.png    1x,
              ./images/main-page/hero-3@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="hero__img"
            src="./images/main-page/hero-3.png"
            alt="scull"
          />
        </picture>
      </li>
    </ul>
    <p class="hero__subtitle">Ми втілюємо ідеї в реальність</p>
    <a class="hero__arrow" href="#photo">
      <svg class="hero__icon">
        <use href="./images/svg/sprite.svg#icon-arrow"></use>
      </svg>
    </a>
  </div>
</section>
