<section class="photo">
  <div class="container photo-section">
    <h2 class="photo__title">БІЛЬШЕ ФОТО</h2>
    <ul class="photo__list">
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-1.jpg" alt="photo-1" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-2.jpg" alt="photo-2" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-3.jpg" alt="photo-3" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-4.jpg" alt="photo-4" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-5.jpg" alt="photo-5" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-6.jpg" alt="photo-6" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-7.jpg" alt="photo-7" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-8.jpg" alt="photo-8" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-9.jpg" alt="photo-9" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-10.jpg" alt="photo-10" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-11.jpg" alt="photo-11" />
      </li>
      <li class="photo__item">
        <img class="photo__img" src="./images/photo-12.jpg" alt="photo-12" />
      </li>
    </ul>
  </div>
  <!-- <ul id="my-drop-down-menu">
    <li class="list">
      <a href="#" class="link">WordPress</a>
      <ul class="child">
        <li><a href="#">плагины</a></li>
        <li><a href="#">темы</a></li>
        <li><a href="#">хаки</a></li>
      </ul>
    </li>
    <li class="list">
      <a href="#" class="link">Joomla</a>
      <ul class="child">
        <li><a href="#">компоненты</a></li>
        <li><a href="#">модули</a></li>
      </ul>
    </li>
    <li class="list"><a href="#" class="link">Drupal</a></li>
  </ul> -->
</section>
