<section class="galery">
  <div class="container galery-section">
    <h2 class="galery__title">ГАЛЕРЕЯ</h2>
    <ul class="galery__list">
      <li class="galery__item">
        <img class="galery__img" src="./images/galery-1.jpg" alt="ship" />
        <p class="galery__subtitle">
          Інженерні методи аналізу та контролю якості
        </p>
      </li>
      <li class="galery__item">
        <img class="galery__img" src="./images/galery-2.jpg" alt="car" />
        <p class="galery__subtitle">Високоточне 3D сканування</p>
      </li>
      <li class="galery__item">
        <img class="galery__img" src="./images/galery-3.jpg" alt="detail" />
        <p class="galery__subtitle">
          Створення точної копії на базі сканування reverse engineering
        </p>
      </li>
      <li class="galery__item">
        <img class="galery__img" src="./images/galery-4.jpg" alt="picture" />
        <p class="galery__subtitle">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </p>
      </li>
    </ul>
  </div>
</section>
