.index-main {
  background-image: url(../images/decor-page-main.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-main {
  background-image: url(../images/decor-page.png);
  background-position-x: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
