<footer class="footer">
  <div class="container footer-section">
    <a class="footer__logo" href="">
      <picture>
        <source
          srcset="
            ./images/main-page/logo.png    1x,
            ./images/main-page/logo@2x.png 2x
          "
        />
        <img
          loading="lazy"
          class="footer__img"
          src="./images/main-page/logo.png"
          alt="logo"
        />
      </picture>
    </a>
    <!-- <div class="footer-contact__group"> -->
    <ul class="footer__list">
      <li class="footer__item">
        <a class="footer__link" href="./index.html">Головна</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./modeling.html">3D Моделювання</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./scanning.html">3D Сканування</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./printing.html">3D Друк</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./take-order.html">Замовити</a>
      </li>
      <li class="footer__item">
        <a class="footer__link" href="./contact.html">Контакти</a>
      </li>
    </ul>
    <ul class="footer-network">
      <li class="footer-network__item">
        <a
          class="footer-network__link"
          href="https://www.instagram.com/leomessi/"
          >Instagram</a
        >
      </li>
      <li class="footer-network__item">
        <a class="footer-network__link" href="https://youtu.be/L68NIOkjY6c"
          >YouTube</a
        >
      </li>
      <li class="footer-network__item">
        <a
          class="footer-network__link"
          href="https://www.facebook.com/FantaUkraine/"
          >Facebook</a
        >
      </li>
    </ul>
    <ul class="footer-contact">
      <li class="footer-contact__item">
        <p class="footer-contact__subtitle">Email</p>
      </li>
      <li class="footer-contact__item">
        <a class="footer-contact__link" href="mailto:3dfreedom.info@gmail.com"
          >3dfreedom.info@gmail.com</a
        >
      </li>
      <li class="footer-contact__item">
        <p class="footer-contact__subtitle">Phones</p>
      </li>
      <li class="footer-contact__item">
        <a class="footer-contact__link" href="tel:+380936432288"
          >+38 (093) 643 22 88</a
        >
      </li>
      <li class="footer-contact__item">
        <a class="footer-contact__link" href="tel:+380503454423"
          >+38 (050) 345 44 23</a
        >
      </li>
    </ul>
  </div>
</footer>
