<section class="photorealistic">
  <div class="container photorealistic-section">
    <h2 class="photorealistic__title">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>
    <ul class="photorealistic__list">
      <li class="photorealistic__item">
        <img class="photorealistic__img" src="./images/meh-1.png" alt="" />
      </li>
      <li class="photorealistic__item">
        <img class="photorealistic__img" src="./images/meh-2.png" alt="" />
      </li>
      <li class="photorealistic__item">
        <img class="photorealistic__img" src="./images/meh-3.png" alt="" />
      </li>
      <li class="photorealistic__item">
        <img class="photorealistic__img" src="./images/meh-4.png" alt="" />
      </li>
    </ul>
    <a href="./take-order.html">
      <button class="photorealistic__button" type="button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </button></a
    >
  </div>
</section>
