<section class="photorealistic">
  <div class="container photorealistic-section">
    <h2 class="photorealistic__title">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h2>
    <ul class="photorealistic__list">
      <li class="photorealistic__item">
        <picture>
          <source
            srcset="
              ./images/modeling/meh-1-mobile.png    1x,
              ./images/modeling/meh-1-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/modeling/meh-1-tablet.png    1x,
              ./images/modeling/meh-1-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/modeling/meh-1.png    1x,
              ./images/modeling/meh-1@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="photorealistic__img"
            src="./images/modeling/meh-1.png"
            alt="meh-1"
          />
        </picture>
      </li>
      <li class="photorealistic__item">
        <picture>
          <source
            srcset="
              ./images/modeling/meh-2-mobile.png    1x,
              ./images/modeling/meh-2-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/modeling/meh-2-tablet.png    1x,
              ./images/modeling/meh-2-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/modeling/meh-2.png    1x,
              ./images/modeling/meh-2@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="photorealistic__img"
            src="./images/modeling/meh-2.png"
            alt="meh-2"
          />
        </picture>
      </li>
      <li class="photorealistic__item">
        <picture>
          <source
            srcset="
              ./images/modeling/meh-3-mobile.png    1x,
              ./images/modeling/meh-3-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/modeling/meh-3-tablet.png    1x,
              ./images/modeling/meh-3-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/modeling/meh-3.png    1x,
              ./images/modeling/meh-3@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="photorealistic__img"
            src="./images/modeling/meh-3.png"
            alt="meh-3"
          />
        </picture>
      </li>
      <li class="photorealistic__item">
        <picture>
          <source
            srcset="
              ./images/modeling/meh-4-mobile.png    1x,
              ./images/modeling/meh-4-mobile@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/modeling/meh-4-tablet.png    1x,
              ./images/modeling/meh-4-tablet@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />
          <source
            srcset="
              ./images/modeling/meh-4.png    1x,
              ./images/modeling/meh-4@2x.png 2x
            "
            media="(min-width: 1400px)"
          />
          <img
            loading="lazy"
            class="photorealistic__img"
            src="./images/modeling/meh-4.png"
            alt="meh-4"
          />
        </picture>
      </li>
    </ul>
    <a href="./take-order.html">
      <button class="photorealistic__button" type="button">
        ЗРОБИТИ ЗАМОВЛЕННЯ
      </button></a
    >
  </div>
</section>
