<section class="create">
  <div class="container create-section">
    <h2 class="create__title">Способи створення моделі:</h2>
    <ul class="create__list">
      <li class="create__item">
        <p class="create__subtitle">3D сканування</p>
      </li>
      <li class="create__item">
        <p class="create__subtitle">
          На основі фотографій з доданими розмірами
        </p>
      </li>
      <li class="create__item">
        <p class="create__subtitle">За ескізами з розмірами</p>
      </li>
      <li class="create__item">
        <p class="create__subtitle">За вашим кресленням</p>
      </li>
      <li class="create__item">
        <p class="create__subtitle">
          По вже існуючому прототипу шляхом зняття розмірів
        </p>
      </li>
    </ul>
    <img class="create__img" src="./images/meh-main.png" alt="meh-main" />
  </div>
</section>
