<section class="made">
  <div class="container made-section">
    <h2 class="made__title">МИ СТВОРЮЄМО</h2>
    <ul class="made_list">
      <li class="made__item">
        <img src="./images/made-1.png" alt="" />
        <p class="made__subtitle">ПРОТОТИПИ</p>
      </li>
      <li class="made__item">
        <img src="./images/made-2.png" alt="" />
        <p class="made__subtitle">МАКЕТИ</p>
      </li>
      <li class="made__item">
        <img src="./images/made-3.png" alt="" />
        <p class="made__subtitle">ДЕКОР</p>
      </li>
      <li class="made__item">
        <img src="./images/made-4.png" alt="" />
        <p class="made__subtitle">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>
    <ul class="info">
      <li class="info__item">
        <img class="info__img" src="./images/info-1.png" alt="" />
        <ul class="group">
          <li class="group__item">
            <p class="info__subtitle info__subtitle--margin">
              <dfn>3D-друк</dfn> - ми використовуємо FDM технологію друку. Вона
              представляє собою пошарове формування об'єкта за допомогою 3D
              принтера.
            </p>
            <p class="info__subtitle info__subtitle--margin">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="info__subtitle">
              D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
          </li>
          <li class="group__item">
            <a href="./take-order.html">
              <button class="info__button" type="button">
                ЗРОБИТИ ЗАМОВЛЕННЯ
              </button></a
            >
          </li>
        </ul>
      </li>
      <li class="info__item">
        <img class="info__img" src="./images/info-2.png" alt="" />
        <ul class="group">
          <li class="group__item">
            <p class="info__subtitle info__subtitle--margin">
              <dfn>3D-моделювання</dfn> - це процес розробки математичного
              уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
              спеціалізованого програмного забезпечення.
            </p>
            <p class="info__subtitle info__subtitle--margin">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="info__subtitle">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
          </li>
          <li class="group__item">
            <a href="./take-order.html">
              <button class="info__button" type="button">
                ЗРОБИТИ ЗАМОВЛЕННЯ
              </button></a
            >
          </li>
        </ul>
      </li>
      <li class="info__item">
        <img class="info__img" src="./images/info-3.png" alt="" />
        <ul class="group">
          <li class="group__item">
            <p class="info__subtitle info__subtitle--margin">
              <dfn>3D-сканування</dfn> - зняття даних, шляхом аналізу форми
              предмета і на основі отриманих даних створення її 3D-моделі.
            </p>
            <p class="info__subtitle">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
          </li>
          <li class="group__item">
            <a href="./take-order.html">
              <button class="info__button" type="button">
                ЗРОБИТИ ЗАМОВЛЕННЯ
              </button></a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
