.order {
  // .order__section

  &__title {
    margin: 0;
    margin-left: 117px;
    margin-bottom: 24px;
    font-size: 45px;
  }

  // .order__list

  &__list {
    margin-left: 117px;
    display: grid;
    grid-template-areas:
      'a a b'
      'a a c';
  }

  // .order__item

  &__item {
    &:nth-child(1) {
      grid-area: a;
    }
    &:nth-child(2) {
      margin-bottom: 40px;
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
  }

  // .order__img

  &__img {
    border-radius: 15px;
  }

  // .order__subtitle

  &__subtitle {
    margin: 0;
    margin-left: auto;
    width: 672px;
    color: $text-color;
    font-family: $cera300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0em;
  }
  &__subtitle--margin {
    margin-bottom: 24px;
  }
}
.model {
  display: flex;
  justify-content: end;
  // .model__item

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  // .model__img

  &__img {
    box-shadow: 20px 20px 80px 0px rgba(0, 0, 0, 0.25);

    .model__item:nth-child(1) & {
      border-radius: 0px 62px 63px 0px;
    }
    .model__item:nth-child(2) & {
      border-radius: 62px 0px;
    }
    .model__item:nth-child(3) & {
      border-radius: 0px 0px 63px;
    }
  }
}

.order-section {
  padding-top: 190px;
  margin-bottom: 100px;
}
